DATABASE_URL="postgresql://free-domainia-db_owner:xxxxxxxxxxxxxxxxx.ap-southeast-1.aws.neon.tech/free-domainia-db?sslmode=require"
accessKeyId="2343334433434lkfkfdjnxxxxxxx",
secretAccessKey="8cxncxcxcjkjxxxxxxklsmalmsalmaslm",